<div class="top-bar">
  <% if controller_name == 'articles' && action_name == 'show' && defined?(@article) %>
    <div class="container mx-auto max-w-3xl">
      <div class="flex justify-between items-center w-full">
        <%= link_to '&larr;'.html_safe, articles_path, class: "text-2xl text-slate-300 ml-4 duration-300 hover:opacity-90" %>
        <div class="flex-grow"></div>
        <p class="text-lg text-slate-400 mr-4">
          <%= @article.title %>
        </p>
        <div class="w-18"></div>
      </div>
    </div>
  <% elsif controller_name == 'articles' && action_name == 'index' %>
    <div class="container mx-auto max-w-3xl">
      <div class="text-2xl ml-4">
        Blog
      </div>
    </div>
  <% end %>
</div>