<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
    {
    "colorTheme": "dark",
    "dateRange": "12M",
    "showChart": true,
    "locale": "pl",
    "largeChartUrl": "",
    "isTransparent": false,
    "showSymbolLogo": true,
    "showFloatingTooltip": false,
    "width": "800",
    "height": "700",
    "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
    "plotLineColorFalling": "rgba(41, 98, 255, 1)",
    "gridLineColor": "rgba(42, 46, 57, 0)",
    "scaleFontColor": "rgba(209, 212, 220, 1)",
    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
    "tabs": [
      {
        "title": "Indeksy",
        "symbols": [
          {
            "s": "FOREXCOM:SPXUSD",
            "d": "S&P 500 Index"
          },
          {
            "s": "FOREXCOM:NSXUSD",
            "d": "US 100 Cash CFD"
          },
          {
            "s": "FOREXCOM:DJI",
            "d": "Dow Jones Industrial Average Index"
          },
          {
            "s": "INDEX:NKY",
            "d": "Nikkei 225"
          },
          {
            "s": "INDEX:DEU40",
            "d": "DAX Index"
          },
          {
            "s": "FOREXCOM:UKXGBP",
            "d": "FTSE 100 Index"
          },
          {
            "s": "GPW:FW201!",
            "d": "Wig20"
          },
          {
            "s": "PEPPERSTONE:VIX",
            "d": "Indeks strachu"
          }
        ],
        "originalTitle": "Indices"
      },
      {
        "title": "Surowce",
        "symbols": [
          {
            "s": "TVC:GOLD",
            "d": "Złoto"
          },
          {
            "s": "TVC:SILVER",
            "d": "Srebro"
          },
          {
            "s": "CAPITALCOM:COPPER",
            "d": "Miedź"
          },
          {
            "s": "COMEX:UX1!",
            "d": "Uran"
          },
          {
            "s": "PEPPERSTONE:NATGAS",
            "d": "Gaz ziemny USA"
          },
          {
            "s": "NYMEX:CL1!",
            "d": "Ropa naftowa"
          },
          {
            "s": "NCDEX:STEEL1!",
            "d": "Stal"
          }
        ]
      },
      {
        "title": "ETFy",
        "symbols": [
          {
            "s": "AMEX:OIH",
            "d": "Oil & Gas services"
          },
          {
            "s": "AMEX:SIL",
            "d": "Górnicy srebra"
          },
          {
            "s": "AMEX:URNM",
            "d": "Górnicy uranu"
          },
          {
            "s": "NASDAQ:SMH",
            "d": "Spółki półprzewodnikowe"
          },
          {
            "s": "AMEX:FXI",
            "d": "Chińskie Large Caps"
          },
          {
            "s": "TSX:U.U",
            "d": "Sprott uranium"
          },
          {
            "s": "TURQUOISE:YCAL",
            "d": "Yellow Cake uranium"
          }
        ]
      },
      {
        "title": "Akcje",
        "symbols": [
          {
            "s": "NASDAQ:NVDA",
            "d": "Nvidia"
          },
          {
            "s": "NYSE:CCJ",
            "d": "Cameco"
          },
          {
            "s": "NYSE:PAAS",
            "d": "Pan American Silver"
          },
          {
            "s": "BITSTAMP:BTCUSD",
            "d": "Bitcoin"
          },
          {
            "s": "ASX:PEN",
            "d": "Peninsula Energy"
          }
        ]
      }
    ]
    }
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget END -->
<!-- TradingView Widget END -->
<!-- TradingView Widget END -->
<%# Old widget line %>
<%# <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500 Index"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "description": "WIG20",
        "proName": "GPW:WIG20"
      },
      {
        "description": "Uranium",
        "proName": "COMEX:UX1!"
      },
      {
        "description": "Gold",
        "proName": "TVC:GOLD"
      },
      {
        "description": "Silver",
        "proName": "TVC:SILVER"
      },
      {
        "description": "China Large ",
        "proName": "AMEX:FXI"
      },
      {
        "description": "NASDAQ 100",
        "proName": "NASDAQ:NDX"
      },
      {
         "description": "Silver Miners",
        "proName": "AMEX:SIL"
      }
    ],
    "showSymbolLogo": true,
    "isTransparent": true,
    "displayMode": "regular",
    "colorTheme": "dark",
    "locale": "pl"
    }
  </script>
</div>
<!-- TradingView Widget END --> %>