<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500 Index"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "description": "WIG20",
      "proName": "GPW:WIG20"
    },
    {
      "description": "Uranium",
      "proName": "COMEX:UX1!"
    },
    {
      "description": "Gold",
      "proName": "TVC:GOLD"
    },
    {
      "description": "Silver",
      "proName": "TVC:SILVER"
    },
    {
      "description": "China Large ",
      "proName": "AMEX:FXI"
    },
    {
      "description": "NASDAQ 100",
      "proName": "NASDAQ:NDX"
    },
    {
       "description": "Silver Miners",
      "proName": "AMEX:SIL"
    }
  ],
  "showSymbolLogo": true,
  "isTransparent": true,
  "displayMode": "regular",
  "colorTheme": "dark",
  "locale": "pl"
}
  </script>
</div>
<!-- TradingView Widget END -->

