<div class="w-full max-w-4xl mx-auto" data-controller="articles">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-lime-50 mb-5 text-lime-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <p class="ml-4 border-b-2 border-dotted border-slate-500 mb-6">
    Najważniejsze artykuły:
  </p>
  <div id="top-articles" class="mb-6">
    <%= render 'top_articles', articles: @top_articles %>
  </div>
  <p class="ml-4 border-b-2 border-dotted border-slate-500 mb-2">
    Najnowsze wpisy:
  </p>
  <div id="articles" class="grid grid-cols-1 md:grid-cols-2 gap-6" data-target="articles.articles">
    <%= render @articles %>
  </div>
  <div class="text-center my-12">
    <button id="load-more" class="button-78" data-action="click->articles#loadMoreArticles" data-target="articles.loadMoreButton">Pokaż więcej artykułów</button>
  </div>
</div>
<footer class="container mx-auto mt-16 px-3 max-w-4xl mb-16" >
  <div class="flex justify-center">
    <%= render 'shared/top-bar/widget' %>
  </div>
</footer>
