 <div class="max-w-xl mx-auto overflow-hidden">
    <div class="flex flex-col justify-between"> 
      <div>
        <p class="my-2">
          <%= image_tag 'https://media1.money.ca/a/29198/borrow-to-invest_facebook_thumb_1200x628_v20230704130851.jpg', alt: 'Opis obrazka', class: "rounded w-full" %>
        </p>
        

        <p class="text-sm text-slate-400 text-right">
        <strong><%= @article.created_at.strftime('%d-%m-%Y') %></strong>
      </p>

       

        <p class="my-6 text-slate-400">
          <%= @article.content %> 
        </p>
      </div>

    </div>
  </div>