<div id="flash-messages" class="flash">
  <% flash.each do |type, message| %>
    <div 
      class="flash__message <%= type %>"
      data-controller="removals"
      data-action="animationend->removals#remove"
      >
      <%= message %>
    </div>
  <% end %>
</div>