<%= link_to root_path, class: "flex  text-slate-100 hover:text-slate-200 transition-colors" do %>
  <span class="anta-regular  text-3xl antialiased">Inves</span>
  <span class="anta-italic text-4xl subpixel-antialiased">TB</span>
<% end %>