<%= link_to root_path, class: "flex  text-indigo-50 hover:text-slate-200 transition-colors" do %>
  <span class="anta-regular  text-6xl antialiased">Inves</span>
  <span class="anta-italic text-7xl subpixel-antialiased">TB</span>
<% end %>