<%= link_to root_path, class: "flex  text-[#EAECEF] hover:text-white transition-colors" do %>
  <span class="anta-regular  text-3xl antialiased">Inves</span>
  <span class="anta-italic text-4xl subpixel-antialiased">TB</span>
<% end %>