<%= link_to root_path, class: "text-slate-600 hover:text-slate-500 transition-colors flex justify-center items-center flex-col", style: "margin-top: -60px;" do %>
  <div class="flex justify-center items-center">
    <span class="anta-regular text-5xl antialiased">Inves</span>
    <span class="anta-italic text-6xl subpixel-antialiased">TB</span>
  </div>
  <div class="text-center -mt-3  ">
    <span class="anta-regular antialiased">Investycje i Spekulacja</span>
  </div>
<% end %>
