<%= link_to root_path, class: "flex itoms-center text-[#EAECEF] hover:text-white transition-colors " do %>
    <span class="anta-regular  text-4xl antialiased">Inves</span>
    <span class="anta-italic text-5xl subpixel-antialiased">TB</span>
    <%= render "shared/logos_svg/logo_chart" %>
  <% end %>
  
