<%= link_to root_path, class: "flex  text-slate-600 hover:text-slate-500 transition-colors", style: "margin-top: -20px;" do %>
  <span class="anta-regular  text-5xl antialiased">Inves</span>
  <span class="anta-italic text-6xl subpixel-antialiased">TB</span>
<% end %>