<nav class="navbar-sticky bg-no-repeat bg-cover bg-center" style="background-image: url(<%= asset_path 'top-bg.png' %>); background-attachment: scroll; background-size: cover; background-position: top center; width: 100%;">
  <div class="container mx-auto flex justify-center items-center px-6 py-4 max-w-2xl">
    <%= render "shared/logo"%>
  </div>
</nav>