<nav class="navbar-sticky bg-no-repeat bg-cover bg-center" style="background-image: url(<%= asset_path 'top-bg.jpg' %>); background-attachment: scroll; background-size: cover; background-position: top center; width: 100%;">
  <div class="container flex justify-center mx-auto  px-12 py-16 max-w-lg">
    <%= render "shared/logo"%>
  </div>
</nav>