<nav class="navbar-sticky bg-[#181A20]">
  <div class="container mx-auto flex justify-between items-center px-6 py-4 max-w-5xl">
  <%= render "shared/logo"%>
    <div class="hidden md:flex">
      <%= render "shared/menu_md"%>
    </div>
    <div class="list-container md:hidden">
      <%= render "shared/menu_button" %>
    </div>
  </div>
</nav>

<script>

</script>
