<nav class="navbar-sticky bg-[#181A20]">
  <div class="container mx-auto flex justify-between items-center px-6 py-4 max-w-5xl">
    <%= link_to 'InvesTB', root_path, class: "text-[#EAECEF] hover:text-white transition-colors text-xl" %>
    <div>
      <%= link_to 'Logowanie', root_path, class: "text-[#EAECEF] hover:text-white transition-colors mr-2" %>
      <%= link_to 'Zarejestruj się', root_path, class: "bg-yellow-400 text-black font-bold py-2 px-4 rounded transition duration-300 ease-in-out hover:bg-yellow-500" %>
    </div>
  </div>
</nav>