body {
  background-color: #181A20;
  color: #c0c5cd;
  min-height: 800px;
}
.top-bar {
  height: 60px;
  background-color: #0A0E11;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.anta-regular {
  font-family: 'Anta-Regular', sans-serif;
}

.anta-italic {
  font-family: 'Anta-Regular', sans-serif;
  font-style: italic;
}

.article-content img,
.article-content iframe,
.article-content video {
  display: block; /* Ustawia element jako blokowy */
  width: 100%; /* Ustawia szerokość na 100% kontenera */
  max-width: 100%; /* Umożliwia responsywność */
  margin: 20px 0; /* Dodaje marginesy góra-dół */
  border: 1px solid #000; /* Dodaje cienką czarną ramkę */
  border-radius: 10px; /* Zaokrągla rogi */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* Dodaje subtelny cień */
}


.image-scale {
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
}

.hover-scale:hover .image-scale {
  transform: scale(1.03); /* Skaluje obrazek o 20% */
}

.svg-button-comment {
  width: 60px; /* Ustaw szerokość przycisku */
  height: 60px; /* Ustaw wysokość przycisku */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-2.4 -2.4 28.80 28.80" fill="none" stroke="%23000000" stroke-width="0.312" transform="matrix(1, 0, 0, 1, 0, 0) rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"><path transform="translate(-2.4, -2.4), scale(0.8999999999999999)" d="M16,31.07364843133837C19.052249470211482,30.75818902383471,20.26318997062347,26.96976847171298,22.307274799129146,24.68121900096481C23.834702967540117,22.97111632925807,25.341012188467577,21.405630612059895,26.43508705132553,19.390565314880625C27.785123600600862,16.904070201317673,29.739811110798353,14.458684643105256,29.381391543304915,11.652122324575789C28.999245993026204,8.659776485015632,27.257135385065055,5.530682951174796,24.506805886674393,4.291386176623616C21.82444014308595,3.082713828041058,18.913909148619755,5.216140344619638,16,5.622475553769618C13.634339718193312,5.9523592311111155,11.211782802531555,5.412253487026881,9.058340076931941,6.445624783829803C6.589650272974886,7.630273511094619,4.249393749862188,9.322515474915434,3.1052871785483998,11.810253827043383C1.8873169638863392,14.458600834861851,1.6146790052963722,17.61410211816253,2.6728186072930225,20.33026372975919C3.7041249726068193,22.97754652115544,6.456709954421941,24.30776492223406,8.668590775300792,26.09081910845157C11.026727776928494,27.99177417471776,12.987115012436778,31.385039398010406,16,31.07364843133837" fill="%23bec5e1" stroke-width="0"></path></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path opacity="0.5" d="M12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22Z" fill="%231C274C"></path><path d="M12 8.25C12.4142 8.25 12.75 8.58579 12.75 9V11.25H15C15.4142 11.25 15.75 11.5858 15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H12.75L12.75 15C12.75 15.4142 12.4142 15.75 12 15.75C11.5858 15.75 11.25 15.4142 11.25 15V12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H11.25L11.25 9C11.25 8.58579 11.5858 8.25 12 8.25Z" fill="%231C274C"></path></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
