body {
  background-color: #181A20;
  color: #c0c5cd;
  min-height: 800px;
}
.top-bar {
  height: 60px;
  background-color: #0A0E11;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.anta-regular {
  font-family: 'Anta-Regular', sans-serif;
}

.anta-italic {
  font-family: 'Anta-Regular', sans-serif;
  font-style: italic;
}

.article-content img,
.article-content iframe,
.article-content video {
  display: block; /* Ustawia element jako blokowy */
  width: 100%; /* Ustawia szerokość na 100% kontenera */
  max-width: 100%; /* Umożliwia responsywność */
  margin: 20px 0; /* Dodaje marginesy góra-dół */
  border: 1px solid #000; /* Dodaje cienką czarną ramkę */
  border-radius: 10px; /* Zaokrągla rogi */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* Dodaje subtelny cień */
}


.image-scale {
  transition: transform 0.4s ease-in-out;
  transform-origin: center;
}

.hover-scale:hover .image-scale {
  transform: scale(1.03); /* Skaluje obrazek o 20% */
}